*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.resume-contents{
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /*background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%)*/
}

.left-section{
    grid-column: span 2;
    height: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 97.61%);
    
}

.right-section{
    grid-column: span 5;
    height: 100%;
    background-color: #8E5D52;
    border-radius: 0px 60px 0px 0px;
}

.left-section-contents{
    padding: 2rem 2rem;
}

.profile{
    width: 100%;
    border-bottom: 2px solid #2F2325;
}

.profile .profile-image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #2F2325;
}

.name{
    color: #d6dbdf;
    font-size: 26px medium;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.profession{
    color: #FDB44B;
    font-size: 26px medium;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.left-title{
    color:#FDB44B;
    font-size: 20px;
}
.contact-info ul{
    padding-top: 1.5rem;
}

.contact-info ul li,
.references ul li{
    padding: .4rem 0;
    color:#eeeeee;
}

.contact-info ul li i,
.references ul li i{
    padding-right: 1rem;
    font-size: 18px;
    color:#eeeeee;
}

.skills ul{
    padding-top: 1.5rem;
}

.skills ul li p{
    padding: .4rem 0;
    color:#eeeeee;
}

.right-section-contents{
    padding: 2rem 2 rem;
}

.right-title{
    color: #70C6C7;
}

.gap{
    padding-bottom: 2rem;
}

.about-me-contents{
    font-size: 18px;
    color:#eeeeee;
}